body {
    background-color: #CFF4FF;
    font-family: 'Josefin Sans', sans-serif;
}

.font50 {
    font-size: 50px;
}

.font30 {
    font-size: 30px;
}

/* .grid div{
    border-color: red;
    border-width: 1px;
} */